<div class="modal-header">
    <h4 class="modal-title">Select Column</h4>
    <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="modal-body">
    <div class="col-md-12 col-sm-12">
        <div class="form-group">
            <!-- <label for="name">Nama Green House</label> -->
            <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [data]="columns" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger round" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-outline-primary round" (click)="save()">Save</button>
</div>