<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">List Template</h3>
        <div class="box-tools pull-right">
            <a [routerLink]="['/add-template']" class="btn btn-primary">
        Add Template
      </a>
        </div>
        <!-- /.box-tools -->
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Aksi</th>
                            <th>Template Name</th>
                            <th>Primary Key</th>
                            <th>Default Modul</th>
                        </tr>
                        <tr *ngFor="let item of template_list | paginate: { itemsPerPage: filter.limit, currentPage: filter.page }; let i=index">
                            <td>
                                <a class="btn btn-success" [routerLink]="['/edit-template/'+i]">Edit</a>
                                <button class="btn btn-danger" (click)="remove(item.template_name)">Hapus</button>
                            </td>
                            <td>{{ item.template_name }}</td>
                            <td>{{ item.primary_key }}</td>
                            <td>{{ item.template_name }}</td>
                        </tr>
                        <tr *ngIf="template_list.length == 0">
                            <td colspan="100">No data</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 col-xs-12">
                <pagination [(ngModel)]="filter.page" [rotate]="rotate" [maxSize]="5" [boundaryLinks]="true" [totalItems]="template_list.length" [itemsPerPage]="filter.limit"></pagination>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <button class="btn" (click)="generateAll()">
                    Generate Template
                </button>
            </div>
        </div>
    </div>
</div>